In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

#Access maps with unique API key
gmaps.configure(api_key=g_key)

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")

# Reorder the columns to make it easier to read
new_column_order = ["City_ID","City","Country","Date","Lat","Lng","Max Temp","Humidity","Cloudiness","Wind Speed"]
city_data_df = city_data_df[new_column_order]

city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2021-12-19 04:40:01,-23.1203,-134.9692,77.50,74,100,12.33
1,1,Dawson,US,2021-12-19 04:40:01,31.7735,-84.4466,66.58,98,87,6.35
2,2,Norman Wells,CA,2021-12-19 04:40:01,65.2820,-126.8329,-2.16,78,90,4.61
3,3,Arman,RU,2021-12-19 04:40:02,59.7000,150.1667,-9.18,83,87,10.25
4,4,Kaitangata,NZ,2021-12-19 04:40:02,-46.2817,169.8464,75.45,45,61,11.81

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2021-12-19 04:40:01,-23.1203,-134.9692,77.50,74,100,12.33
4,4,Kaitangata,NZ,2021-12-19 04:40:02,-46.2817,169.8464,75.45,45,61,11.81
6,6,Atuona,PF,2021-12-19 04:36:47,-9.8000,-139.0333,78.24,75,32,14.61
15,15,Xuddur,SO,2021-12-19 04:40:06,4.1213,43.8894,75.40,67,80,15.70
22,22,Puerto Carreno,CO,2021-12-19 04:39:12,6.1890,-67.4859,77.47,76,78,7.40
23,23,Georgetown,MY,2021-12-19 04:40:09,5.4112,100.3354,78.89,88,40,1.99
30,30,Sarangani,PH,2021-12-19 04:40:12,5.4033,125.4636,83.89,76,13,18.10
37,37,Santa Rosa,PH,2021-12-19 04:40:15,14.3122,121.1114,78.78,74,100,11.68
41,41,Busselton,AU,2021-12-19 04:40:17,-33.6500,115.3333,79.05,46,0,11.70
47,47,Saint-Philippe,RE,2021-12-19 04:40:19,-21.3585,55.7679,84.22,71,46,1.39

In [14]:
preferred_cities_df.count()

City_ID       129
City          129
Country       129
Date          129
Lat           129
Lng           129
Max Temp      129
Humidity      129
Cloudiness    129
Wind Speed    129
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0          Rikitea      PF     77.50 -23.1203 -134.9692
4       Kaitangata      NZ     75.45 -46.2817  169.8464
6           Atuona      PF     78.24  -9.8000 -139.0333
15          Xuddur      SO     75.40   4.1213   43.8894
22  Puerto Carreno      CO     77.47   6.1890  -67.4859
23      Georgetown      MY     78.89   5.4112  100.3354
30       Sarangani      PH     83.89   5.4033  125.4636
37      Santa Rosa      PH     78.78  14.3122  121.1114
41       Busselton      AU     79.05 -33.6500  115.3333
47  Saint-Philippe      RE     84.22 -21.3585   55.7679

In [18]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Import the API key.
from config import g_key

# Iterate through the df
for index, row in hotel_df.iterrows():
    #Get the latitude and longitude
    lat=row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary
    params["location"] = f"{lat},{lng}"
           
    #Use the search term lodging and our lat and long
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [24]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# iterate through the hotel_df adding the box to the marker layer

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))