## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
# vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
# vacation_df.head()
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,3,Carutapera,BR,79.27,overcast clouds,-1.1950,-46.0200,Lidera
1,5,Hithadhoo,MV,82.60,overcast clouds,-0.6000,73.0833,Scoop Guest House
2,6,Alofi,NU,84.09,few clouds,-19.0595,-169.9187,Taloa Heights
3,12,Butaritari,KI,82.45,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
4,17,Luwuk,ID,85.51,overcast clouds,-0.9516,122.7875,Hotel Santika Luwuk
5,21,Ocos,GT,83.32,clear sky,14.5094,-92.1933,Auto Hotel El Soñador
6,25,Ballina,AU,89.78,overcast clouds,-28.8667,153.5667,Ramada Hotel & Suites by Wyndham Ballina Byron
7,28,Kapaa,US,80.58,light rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
8,29,Cayenne,GF,81.09,clear sky,4.9333,-52.3333,Hôtel Le Dronmi
9,30,Beira,MZ,75.25,broken clouds,-19.8436,34.8389,Beira Terrace Hotel

In [8]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [9]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer =  gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [67]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Olinda"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Olinda"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Cabedelo"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Natal"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Touros"]

In [68]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
84,332,Olinda,BR,82.13,broken clouds,-8.0089,-34.8553,Hotel Albergue de Olinda

In [69]:
vacation_stop1

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
82,325,Cabedelo,BR,81.27,light rain,-6.9811,-34.8339,Hotel Pigalle

In [70]:
vacation_stop2

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
56,224,Natal,BR,81.25,few clouds,-5.795,-35.2094,Villa Park Hotel | Natal

In [71]:
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
132,551,Touros,BR,81.5,overcast clouds,-5.1989,-35.4608,INN NEW HORIZON

In [72]:
vacation_end

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
84,332,Olinda,BR,82.13,broken clouds,-8.0089,-34.8553,Hotel Albergue de Olinda

In [75]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start.to_numpy()[0,5],vacation_start.to_numpy()[0,6])
end = (vacation_end.to_numpy()[0,5], vacation_end.to_numpy()[0,6])
stop1 = (vacation_stop1.to_numpy()[0,5], vacation_stop1.to_numpy()[0,6])
stop2 = (vacation_stop2.to_numpy()[0,5], vacation_stop2.to_numpy()[0,6])
stop3 = (vacation_stop3.to_numpy()[0,5], vacation_stop3.to_numpy()[0,6])

In [74]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(-7.0, -35.0), zoom_level=6.0)
directions = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3], travel_mode="DRIVING")
fig.add_layer(directions)
fig

Figure(layout=FigureLayout(height='420px'))

In [76]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,332,Olinda,BR,82.13,broken clouds,-8.0089,-34.8553,Hotel Albergue de Olinda
1,325,Cabedelo,BR,81.27,light rain,-6.9811,-34.8339,Hotel Pigalle
2,224,Natal,BR,81.25,few clouds,-5.7950,-35.2094,Villa Park Hotel | Natal
3,551,Touros,BR,81.50,overcast clouds,-5.1989,-35.4608,INN NEW HORIZON
4,332,Olinda,BR,82.13,broken clouds,-8.0089,-34.8553,Hotel Albergue de Olinda

In [77]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [78]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(-10.0, -35.0), zoom_level=5.0)
markers =  gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))